:root {
    --color-bg-primary: hsl(216, 12%, 8%);
    --color-card-bg-primary: hsl(213, 19%, 18%);
    --color-card-bg-secondary: hsl(213, 16%, 11%);
    --color-card-highlight: hsl(25, 97%, 53%);
    --color-card-text-primary: hsl(0, 0%, 100%);
    --color-card-text-secondary: hsl(217, 12%, 63%);
    --color-card-text-terciary: hsl(216, 12%, 54%);

    --font-size-card-paragraph: 15px;
    --font-size-card-title: 1.6rem;
    --font-size-submit-text: 0.9rem;

}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    line-height: 1.6;
    background-color: var(--color-bg-primary);
}

/* Evaluate */

input[type="radio"] {
    display: none;
}

input:checked+label {
    background-color: var(--color-card-text-secondary);
    color: var(--color-card-text-primary);
}

.card {
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
    display: flex;
    padding: 2rem;
    border-radius: 20px;
    background-image: linear-gradient(var(--color-card-bg-primary), var(--color-card-bg-secondary));
}

.card__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    background-color: hsl(212, 16%, 21%);
}

.card__circle--star {
    max-width: 35%;
}

.card__title {
    font-size: var(--font-size-card-title);
    color: var(--color-card-text-primary);
    margin-bottom: 0.5rem;
}

.card__description {
    font-size: var(--font-size-card-paragraph);
    color: var(--color-card-text-secondary);
    margin-bottom: 2rem;
}

.card__ratings {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    color: var(--color-card-text-terciary);
}

.card__circle--rating:hover {
    background-color: var(--color-card-highlight);
    color: var(--color-card-text-primary);
    cursor: pointer;
}

.card__submit-button {
    font-size: var(--font-size-submit-text);
    color: var(--color-card-text-primary);
    font-weight: 700;
    letter-spacing: 0.15em;
    align-self: center;
    width: 100%;
    height: 2.5rem;
    border-style: none;
    border-radius: 20px;
    background-color: var(--color-card-highlight);
}

.card__submit-button:hover {
    background-color: var(--color-card-text-primary);
    color: var(--color-card-highlight);
    cursor: pointer;
}

/* Feedback */

.card__thanks {
    align-items: center;
}

.card__icon--thanks {
    margin-bottom: 1rem;
}

.card__selected-rating {
    font-size: var(--font-size-card-paragraph);
    text-align: center;
    line-height: 0rem;
    height: 1.5rem;
    padding: 15px 15px;
    margin-bottom: 1.5rem;
    border-style: none;
    border-radius: 20px;
    color: var(--color-card-highlight);
    background-color: var(--color-card-bg-primary);
}

.card__description--thanks {
    text-align: center;
}